@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.main{
    position: relative;
    font-family: 'Bree Serif', serif;
}

h1{
    position: relative;
    left: -490px;
    top: -150px;
    color: #551D04;
}
hr{
    position: relative;
    left: -520px;
    top: -150px;
    border: 0px;
    border-top: 3px solid #551D04;
    width: 500px;
}

.btn-add{
    position: relative;
    left: -490px;
    top: -100px;
    width: 250px;
    height: 370px;
    border-radius: 20px;
    background-color: #F3CD84;
    padding-right: 15px;
}
