<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Barra Lateral</title>
</head>
<body>
    <div class="caixa">
        <div class="navigation">
            <ul>
                <img class="logo" src="../../assets/Logo Girassol.png">
                <h1>Estuder's</h1>
                <li class="list active">
                    <a href="#">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Início</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
                        <span class="title">Disciplinas</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                        <span class="title">Tarefas e eventos</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Configurações</span>
                    </a>
                </li>
                
                <li class="miniPerfil">
                    <img class="perfilPic" src="../../assets/Imagens Perfil/verde escuro.jpg">
                    <span class="nome" id="nome">Nome Sobrenome</span>
                    <span class="email" id="email">email@email.com</span>

                    <a href="#">
                        <span class="icon-exit"><ion-icon name="log-out-outline"></ion-icon></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </body>
</html>