html, body, .capa{
	height: 100%;
	overflow: auto;
	font-family: Suwannaphum;
}

body{
	background: url("images/ruido.png"),
				/*url("images/fundoK.jpg"),*/
				linear-gradient(50deg, #fbff0075, #fbff00);
	background-attachment: fixed;
	overflow-x: hidden;
}

.a-space{
	color:transparent;
}

.img-logo{
	height: 50px;
	width: 70px;
	display: block;
	background: url("images/g1.png") no-repeat;
	background-size: contain;
	color: transparent;
}

.img-us{
	height: 100px;
	width: 100px;
	display: block;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparent{
	padding: 15px 0px;
	background: rgba(255, 255, 255, 0.8);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}


.navbar-inverse .navbar-nav>li>a, footer .nav a{
	color: rgb(119, 65, 2);
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover{
	color: rgb(119, 90, 56);
	background: none;
}


/* */

.capa{
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* */

.btn-custom{
	border-radius: 50px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}

#btn-azul{
	color: rgb(255, 255, 255);
	background: rgb(255, 124, 1);
	text-align: center;
}

#btn-azul:hover{
	background-color: transparent;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(255, 124, 1)
}

#btn-vermelho{
	color: rgb(0, 0, 0);
	background-color: transparent;
	border: 2px solid rgb(255, 124, 1);
}

#btn-vermelho:hover{
	background-color: rgb(255, 124, 1);
	color: white;
}

/* */


#jogos{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Suwannaphum;
}

.jogos{
	padding: 10px 0px 0px;
	/* borda superior/horizontal/inferior */
}

/* */

#explicacao{
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
}

.rotacionar{
	/*transform: rotate(40deg);*/
	padding: 100px 200px;
}

/* */

footer{
	background: #000;
	padding: 50px 0px 50px 0px;
	position: relative;
}

#nomeDoSite{
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	font-size: 100px;
	color: rgb(119, 65, 2);
}

#frase{
	font-weight: 700;
	letter-spacing: -0.04em;
	font-size: 50px;
	color: white;
}

#slogan{
	font-weight: 700;
	letter-spacing: -0.04em;
	font-size: 40px;
	color: rgb(255, 124, 1);
}

#rodape h4{
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

#jogos h2{
	color: rgb(255, 124, 1);
}

#explicacao p{
	color: white;
	font-size: 1.5em;
}

#jogos p{
	color: black;
	font-size: 1.5em;
}

/* 

#teste{
	/*background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.teste{
	padding: 10px 10px 0px;
	/* borda superior/horizontal/inferior 
}

#teste h1{
	color: white;
}

#teste h2,#teste h4{
	color: red;
}

#teste p, #teste h3{
	color: white;
}

#teste a{
	color: blue;
	text-decoration: none;
}

#teste a:hover{
	background-color: white;
	color: black;
}
*/