@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;    
}

.main{
    position: relative;
}

.titulo-inicio h1{
    position: relative;
    top: -30px;
    left: -620px;
    color: #271403;
    text-align: center;
    box-sizing: content-box;
}

.titulo-inicio hr{
    padding-bottom: -10px;
    left: -210px;
    top: -30px;
    border: 0px;
    border-top: 3px solid #551D04;
    width: 500px;
    box-sizing: content-box;
}

.mid{
    display: flex;  
    width: 100%; 
    margin-left: 0px;
    justify-content: space-between;
}

.tela-eventos{
    position: relative;
    width: 270px;
    height: 215px;
    background-color: #FFFFFF;
}

.tela-eventos h2{
    text-align: justify;
    padding: 5px 0px 0px 9px;
    color: #774102;
    text-decoration: underline #551D04;
    font-size: 18px;
}

.tela-eventos hr{
    width: 10px;
}

.tela-materias{
    position: relative;
    left: 10px;
    width: 745px;
    height: 215px;
    background-color: #FFFFFF;
}

.tela-materias h2{
    position: absolute;
    color:#774102;  
    padding: 5px 0px 0px 9px;  
    font-size: 18px;
    width: 100%;
    text-decoration: underline #551D04;
}

.btn{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.btn-sigaa , .btn-aprender, .btn-teams, .btn-email, .btn-onedrive{
    border-radius: 5px;
    border: none;
    margin: 20px;
    width: 170px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    padding: 10px 5px 5px 10px;
    text-decoration: none;
    color: #000;
    text-align: right;
    padding-right: 40px;
}

.sigaa{
    position: absolute;
    top: 283.5px;
    left: 30px;
    width: 60px;
    height: 35px;
    margin-right: 10px;
    padding: 2px 2px;
}

.aprender{
    position: absolute;
    left: 235px;
    top: 287px;
    width: 50px;
    height: 30px;
    margin-right: 10px;
    padding: 4px 4px;
}

.teams{
    position: absolute;
    left: 450px;
    top: 285px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding: 2px 2px;
}

.email-img{
    position: absolute;
    left: 660px;
    top: 285px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding: 2px 2px;
}

.onedrive{
    position: absolute;
    left: 870px;
    top: 286.5px;
    width: 35px;
    height: 30px;
    margin-right: 10px;
    padding: 2px 2px;
}





table{
    width: 950px;
    height: 200px;
}