@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.sidebar-caixa{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.sidebar-logo{
    position: absolute;
    top: 30px;
    width: 50px;
    height: 50px;
}

.sidebar-caixa .sidebar-navigation .sidebar-h1{
    position: absolute;
    top: 20px;
    left: 60px;
    color: white;
    font-size: 30px;
}

.sidebar-icon{
    position: relative;
    margin: 15px;
    top: 40px;
    width: 10px;
    height: 10px;
    color: #fff;
}

.sidebar-a{
    color: white;
    text-decoration: none;
    font-size: 20px;

    position: relative;
    left: 20px;
    top: -43px;
    display: flex;
    padding-left: 6px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    
}

/*Perfil inferior*/
.sidebar-perfilPic{
    position: relative;
    top: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar-nome{
    position: relative;
    display: block;
    left: 50px;
    top: -40px;
    color: white;
    font-size: 14px;
}

.sidebar-email{
    position: relative;
    display: block;
    left: 45px;
    top: -40px;
    color: white;
    font-size: 12px;
    opacity: 0.75;
}

.sidebar-icon-exit{
    position: relative;
    display: block;
    left: 190px;
    top: -60px;
    color: #fff;
}

/*fim do perfil inferior*/

.sidebar-navigation{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    background: #774102;
    width: 70px;
    border-radius: 5px 0px 0px 5px;
    border-left: 10px solid #774102;
    overflow-x: hidden;
    transition: 0.5s;
    
}

.sidebar-navigation:hover{
    width: 235px;
}

.sidebar-navigation > .sidebar-ul{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding-left: 5px;
padding-top: 40px;
}

.sidebar-navigation > .sidebar-ul .sidebar-list{
position: relative;
list-style: none;
width: 100%;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

.sidebar-navigation > .sidebar-ul .sidebar-list .sidebar-a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
}

.sidebar-navigation > .sidebar-ul .sidebar-list .sidebar-a .sidebar-icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
    color: white;
    
}

.sidebar-navigation > .sidebar-ul .sidebar-list .sidebar-a .sidebar-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
    color: white;
}

.sidebar-navigation > .sidebar-ul .sidebar-list .sidebar-a{
position: relative;
top: -3px;
display: block;
padding-left: 15px;
height: 60px;
line-height: 60px;
white-space: nowrap;
}

.sidebar-navigation > .sidebar-ul .sidebar-list-active{

    background: #FF7C01;
    width: 230px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sidebar-list-active{
    background: #FF7C01;
}

.sidebar-navigation > .sidebar-ul .sidebar-list-active .sidebar-a::before{
position: absolute;
top: -30px;
right: 0px;
width: 30px;
height: 10px;
border-radius: 50%;
color: white;
}

.sidebar-navigation > .sidebar-ul .sidebar-list-active .sidebar-a::after{
    content: '';
    position: absolute;
    top: -30px;
    right: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    }

.sidebar-ul{
    overflow-x: hidden;
}
    
.sidebar-caixa{
    height: 100vh;
    overflow-x:hidden;
}