@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap%27');

.main-sec{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #F3CD84;
    height: 1000px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.title-sec{
    display: flex;
}

.sec-h1 {
    position: relative;
    top: 20px;
    left: -130px;
    color: #271403;
    text-align: center;
    box-sizing: content-box;
}

.sec-hr{
    border-top: 3px solid #551D04;
    width: 500px;
    top: 50px;
    box-sizing: content-box;
    margin-left: 90px;
}

.top-sec {
    position: relative;
    top: 45px;
    height: 300px;
    width: 1280px;
    border-bottom: 3px solid #774102 ;
    padding:0;
}

.box-inf-sec{
    display: flex;
    gap: 50px;
}

.informacao-sec {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 35px;
    height: 200px;
    width: 700px;
    background-color: white;
    box-shadow: 1px 1px 5px #be6a0a;
}

.informacao-sec > .sec-h2 {
    padding: 1px 0 0px 9px;
    margin:10px 0 0 10px ;
}

/*.sec-informacoes-basicas{
    display: none;
}*/

.informacao-sec > .sec-icon-info{
    position: relative;
    left: 660px;
    top: -30px;
    color: #ffa14a;
}

.informacao-sec .sec-h3 {
    padding: 1px 0 0px 9px;
    margin: 5px 0 0 10px ;
}

/*.sec-informacoes-basicas{
    //display: none;
}*/

.informacao-sec > .sec-form{
    height: 110px;
    padding: 2px 0 0 16px;
}

/*.informacao-sec > .sec-informaçoes-basicas > .sec-h3{
   padding: 1px 0 0 9px;
   margin-left: 10px;
}*/

.nota-sec {
    height: 200px;
    width: 300px;
    background-color: white;
    box-shadow: 1px 1px 5px #be6a0a;
}

.nota-sec > .sec-h2 {
    text-align: center;
    padding: 8px 3px 0 10px;
    margin: 10px 0 0 10px;
    margin: 0px 5px 0 5px;
}

.sec-dias-ate-prova{
    position: relative;
    top: 10px;
    height: 60px;
    width: 1050px;
    margin-left: 35px;
    background-color: white;
    box-shadow: 1px 1px 5px #be6a0a;
}

.sec-dias-ate-prova > .sec-h2{
    text-align: center;
    padding: 10px 0 0 0;
}

.principal-sec{
    position: relative;
    height: 442px;
    top: 30px;
}

.sec-h3-infs{
    padding: 5px 5px 5px 0px;
}


.sec-forma-de-avaliacao{  
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 200px;
    width: 1050px;
    margin: 25px 10px 0 35px;
    box-shadow: 1px 1px 5px #be6a0a;
}

.sec-forma-de-avaliacao > .sec-h2 {
    padding: 5px 0 0px 9px;
    margin:10px 0 0 10px ;
}

.sec-forma-de-avaliacao > .sec-icon-principal{
    position: relative;
    left: 290px;
    top: -40px;
    color: #ffa14a;
}

.sec-titulos-avaliacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15px;
    width: 1050px;
    flex-wrap: wrap;
}

.sec-titulos-avaliacao > .sec-h2{
    padding: 5px 0px 0px 9px;
    margin:10px 280px 0px 10px ;
}

.sec-box-lista-prova{
    display: block;
    flex-direction:column ;
    height: 110px;
    width: 600px;
    margin:0px 80px 0px 40px ;
}

.sec-box-lista-prova > .sec-h4-lista{
   padding: 0 0 0 20px;
}

.sec-box-lista-prova > .sec-h4-prova{
    padding: 0 0 0 20px;
 }

.sec-box-principal{
    display: flex;
    margin: 10px 0px 0px 36px;
    width: 1050px;
    gap:50px;
}

.sec-box-principal > .sec-titulo-conteudo{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    background-color: white;
    box-shadow: 1px 1px 5px #be6a0a;
}

.sec-titulo-conteudo >.sec-h2{
    padding: 5px 20px 0px 9px;
    margin:10px 0px 0 10px ;
}

.sec-titulo-conteudo > .sec-icon-conteudo{
    position: relative;
    left:-5px;
    bottom: -265px;
    color: #ffa14a;
}

.entregas-sec-tudo{
    display: flex;
    height: 300px;
    gap: 50px;
}

.entregas-sec{
    height: 300px;
    margin: 0 0 0 30px;
    width: 470px;
    background-color: white;
    box-shadow: 1px 1px 5px #be6a0a;
}

.entregas-sec > .sec-h2 {
    margin-top: 15px;
    text-align: center;
}

.entregas-sec > .sec-icon-entrega{
    position: relative;
    left:435px;
    bottom: -203px;
    color: #ffa14a;
}
