@import url('https://fonts.googleapis.com/css2?family=Suwannaphum&display=swap');

body{
    background-color: #F3CD84;
}

.main{
    font-family: 'Suwannaphum', serif;
}

.perfil{
    display: flex;
    margin-top: 15px;
}

.perfil-image{
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px 55px 40px 170px;    
}
.perfil > h1{
    font-size: 40px;
}

.perfil > h3{
    position: absolute;
    left: 410px;
    top: 70px;
    opacity: 0.75;
}

.box{
    position: absolute;
    width: 850px;
    height: 280px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
    margin-left: 170px;
    margin-right: 200px;
    padding: 10px 20px;
}

.box > h2{
    font-size: 23px;
    color: #774102;
    margin: 0;
    text-decoration:underline;
}

.input-box{
    width: 350px;
    height: 20px;
    margin: 20px 0px 0px 20px;
    
    border: 2px solid #774002ad;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    color: #774102;    
}

.input-box::placeholder{
    font-size: 15px;
    color: #774102;
    opacity: 0.75;
}

.btn-save{
    position: absolute;
    width: 260px;
    height: 45px;
    background-color: #919B1A;
    border: none;
    border-radius: 5px;
    outline: none;
    right: 15px;
    bottom: 15px;

    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn-save:active{
    background: #6D750B;
}

.btn-delete{
    width: 260px;
    height: 45px;
    margin: 325px 0px 10px 170px;

    background-color: #D05416;
    border: none;
    border-radius: 5px;
    outline: none;

    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn-delete:active{
    background: #B03C01;
}