@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.materias-main{
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Bree Serif', serif;
    margin: 0;
    padding: 0;
    border: 0;
    background: #F3CD84;
    min-width: 99vw;
    min-height: 100vh;

}

.materias-h1{
    position: relative;
    left: 10px;
    top: 10px;
    border: 0;
    padding: 0;
    color: #551D04;
}

.materias-hr{
    position: relative;
    left: -390px;
    top: 0px;
    border: 0px;
    padding: 0;
    border-top: 3px solid #551D04;
    width: 600px;
}

.materias-btn-add{
    position: relative;
    left: 60px;
    top: 50px;
    width: 220px;
    height: 300px;
    border-radius: 20px;
    background-color: #f7a65b;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 5px #be6a0a;
    color: white;
    font-family: 'Bree Serif', serif;
}

.materias-btn-add:active{
    background: #facb55;
}

.materias-btn-mat{
    position: relative;
    left: 100px;
    top: 42px;
    width: 220px;
    height: 300px;
    border-radius: 20px;
    background-color: #f7a65b;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 5px #be6a0a;
    color: white;
    font-family: 'Bree Serif', serif;
}

.materias-btn-mat:active{
    background: #facb55;
}

.materias-btn-img{
    position: relative;
    width: 110px;
    height: 110px;
}
.materia-add-icon{
    font-family: 'Bree Serif', serif;
}