@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
    background-color: #F3CD84;
    border: 0;
    margin: 0;    
}

.main{
    font-family: 'Bree Serif', serif;
}

.perfil{
    position: relative;
    right: 450px;
    top: 0px;
    display: flex;
    margin-top: 0px;
}

.perfil-image{
    position: relative;
    left: 89px;
    top: 0px;
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px 55px 40px 170px;    
}
.perfil > h1{
    position: relative;
    left: 40px;
    top: 20px;
    font-size: 38px;
}

.perfil > h3{
    position: relative;
    left: -230px;
    top: 65px;
    opacity: 0.75;
    font-size: 24px;
}

.box{
    position: relative;
    left: -100px;
    top: 20px;
    width: 1000px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 10px 20px;
}

.box > h2{
    font-size: 23px;
    color: #774102;
    margin: 0;
    text-decoration: underline;
}
.message{
    position: absolute;
    left: 650px;
    bottom: 200px;
    max-width: 500px;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    word-break: keep-all;
    color: #774102;

}
.input-box{
    width: 390px;
    height: 35px;
    margin: 20px 0px 0px 20px;
    border: 2px solid #774002ad;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    color: #774102;    
}

.input-box::placeholder{
    font-size: 15px;
    color: #774102;
    opacity: 0.75;
}

.btn-save{
    position: absolute;
    width:250px;
    height: 45px;
    background-color: #919B1A;
    border: none;
    border-radius: 5px;
    outline: none;
    right: 15px;
    bottom: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn-save:active{
    background: #6D750B;
}

.btn-delete{
    position: relative;
    bottom: -30px;
    width: 260px;
    height: 45px;
    background-color: #D05416;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn-delete:active{
    background: #B03C01;
}